@keyframes floatAnimation {
    0% {
      transform: translateX(-50%) translateY(50%) scale(1);
      opacity: 1;
    }
    50% {
      transform: translateX(-50%) translateY(45%) scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: translateX(-50%) translateY(50%) scale(1);
      opacity: 1;
    }
  }

  #_64_945 {
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(50%);
    animation: floatAnimation 3s ease-in-out infinite; /* Infinite animation */
  }