@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matter-TRIAL";
  src: url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Regular.woff")
      format("woff"),
    url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Matter-TRIAL-Light";
  src: url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Light.woff2")
      format("woff2"),
    url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Light.woff")
      format("woff"),
    url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Light.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Matter-TRIAL-Medium";
  src: url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Medium.woff2")
      format("woff2"),
    url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Medium.woff")
      format("woff"),
    url("../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Medium.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
    font-family: 'Matter-TRIAL';
    src: url('../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Bold.woff2') format('woff2'),
         url('../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Bold.woff') format('woff'),
         url('../assets/fonts/DP_matter_TRIAL/Matter-TRIAL-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
  font-family: "Reckless TRIAL";
  src: url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Regular.woff")
      format("woff"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Regular.otf")
      format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Reckless TRIAL Bold";
  src: url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Bold.woff")
      format("woff"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Bold.otf")
      format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Reckless TRIAL Light";
  src: url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Light.woff2")
      format("woff2"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Light.woff")
      format("woff"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-Light.otf")
      format("opentype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Reckless TRIAL Italic";
  src: url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-LightItalic.otf")
      format("woff2"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-LightItalic.woff")
      format("woff"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-LightItalic.otf")
      format("opentype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Reckless TRIAL Regular Italic";
  src: url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-RegularItalic.otf")
      format("woff2"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-RegularItalic.woff")
      format("woff"),
    url("../assets/fonts/DP_reckless_TRIAL/RecklessTRIAL-RegularItalic.otf")
      format("opentype");
  font-weight: light;
  font-style: normal;
}

/* .scrollable-parent {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
} */

#_843_14234_Frame_1820554911:hover #_64_681_Frame_1820554715 span:hover {
  cursor: pointer;
}

#_64_682_Frame_1820554662:hover #dotOfHeader {
  width: 100% !important;
}

.not_selected_route:hover #dotOfHeader {
  width: 100% !important;
}

.no-scroll {
  overflow: hidden;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  min-width: 370px;
  height: 548px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  background-color: red;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

#_64_1159_Frame_1820554736:hover {
  text-decoration: underline;
  color: #e8ddd3ff;
}

@keyframes slideUp {
  0% {
    bottom: -100%;
    /* Hidden below */
  }

  100% {
    bottom: 0;
    /* Moves to the top */
  }
}

@keyframes circular-motion {
  0% {
    transform: translate(30%, 0%);
  }

  25% {
    transform: translate(45%, 15%);
  }

  50% {
    transform: translate(30%, 30%);
  }

  75% {
    transform: translate(15%, 15%);
  }

  100% {
    transform: translate(30%, 0%);
  }
}

@keyframes circularMotion {
  0% {
    transform: translate(-50%, 0%);
    /* Starting point */
  }

  25% {
    transform: translate(-35%, 15%);
    /* Move right and down */
  }

  50% {
    transform: translate(-50%, 30%);
    /* Bottom */
  }

  75% {
    transform: translate(-65%, 15%);
    /* Move left and up */
  }

  100% {
    transform: translate(-50%, 0%);
    /* Back to start */
  }
}

@keyframes circularMotion2 {
  0% {
    transform: translate(-50%, 0%);
    /* Starting point */
  }

  25% {
    transform: translate(-35%, 15%);
    /* Move right and down */
  }

  50% {
    transform: translate(-50%, 30%);
    /* Bottom */
  }

  75% {
    transform: translate(-65%, 15%);
    /* Move left and up */
  }

  100% {
    transform: translate(-50%, 0%);
    /* Back to start */
  }
}

@keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 339.29;
    /* 100% hidden */
  }

  50% {
    stroke-dashoffset: 169.64;
    /* 50% visible (semicircle) */
  }

  100% {
    stroke-dashoffset: 0;
    /* Fully visible circle */
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  /* #product_animation_lottie{
    top: 0px !important;
  } */

  #doctor_video {
    max-width: calc(100% - 40px) !important;
    max-height: fit-content;
  }

  #_64_916_Ellipse_15,
  #_64_916_Ellipse_1599,
  #_64_1204_E99 {
    display: none !important;
  }
  #cart_container > div {
    padding: 24px 20px !important;
  }

  #cart_container > div:last-of-type {
    padding: 10px 20px !important;
  }

  #_1038_1704_Frame_2018776452 {
    width: calc(100% - 40px) !important;
  }

  #Expand_Your_Roots_with_Our_Goodness {
    font-size: 36px !important;
    line-height: 1 !important;
  }

  #_64_734_image {
    width: 300px !important;
    height: 300px !important;
  }

  #__Curcumin_is_the_main_active_ingredient_in_the_spice_turmeric___a_staple_in_Indian_cuisine_for_thousands_of_years__Curcumin_is_a_powerful_antioxidant_that_can_help_promote_regularity___digestive_health_as_well_as_naturally_support_overall_skin_health___,
  #The_ashwagandha_gummy_has_been_a_game-changer_for_me__It_helped_me_through_stressful_days_and_I_also_noticed_a_significant_improvement_in_my__energy_levels_ {
    font-size: 24px !important;
  }

  #_64_918_6642c1f343aacf7ec05836cf_andrew_jpeg {
    width: 70vw !important;
    height: 80vw !important;
  }

  #With_Experts_on_Board,
  #Real_Results__Real_Transformation,
  #Our_Customers_Speak,
  #Born_of_the_desire_to_return_to_our_roots,
  #Bioavailability__Made_Available,
  #Your_Journey_to_Holistic_Health,
  #Right_from_the_Roots,
  #A_Gummy_that_is_Natural__Potent__Delicious {
    font-size: 35px !important;
  }

  #graph {
    width: 100vw !important;
  }

  #_64_919_Frame_1820554907 {
    width: 100%;
  }

  #_64_1113_image {
    transform: scale(0.85);
  }

  .TEXT_HEADING_STYLE {
    font-size: 32px !important;
  }

  .TEXT_PARAGRAPH_STYLE {
    font-size: 14px !important;
  }

  .TEXT_BUTTON_STYLE {
    font-size: 16px !important;
  }

  .TEXT_SUB_HEADING_STYLE {
    font-size: 12px !important;
  }

  .mobile_section_padding {
    padding: 24px 20px !important;
    justify-content: center !important;
  }

  .mobile_section_gap {
    gap: 24px !important;
  }

  .text-center {
    text-align: center !important;
    align-self: center !important;
  }

  .m_align_center {
    align-items: center !important;
  }

  #_64_1113_image {
    /* width: 100% !important; */
    height: "423.0px";
    width: "323.0px";
    overflow: hidden;
  }

  #_64_645_image {
    width: 100% !important;
    left: 0 !important;
  }

  .mobile_break {
    display: block;
  }

  #_843_146042_Button_default {
    display: none !important;
  }

  #reviews,
  #technology,
  #questions,
  #doctor_say,
  #_64_992_Frame_2018776307,
  #ingredientsContainer,
  #moving_tag,
  #_64_791_Frame_1820554706,
  #_64_735_Frame_2018776334,
  #_843_14226_Frame_2018776380,
  #_1051_3144_Frame_2018776319 {
    padding: 64px 20px !important;
  }
  #_64_791_Frame_1820554706 {
    border-radius: 20px !important;
  }
  #_64_735_Frame_2018776334 {
    padding: 64px 0 !important;
  }
  #_64_992_Frame_2018776307 {
    padding-inline: 0 !important;
  }
  #_64_1025_Frame_2018776308 {
    justify-content: center !important;
  }
  #_64_1046_Frame_2018776309 {
    padding-inline: 20px !important;
  }
  #Customer_Product_Reviews,
  #technology_heading {
    font-size: 30px !important;
  }

  #product_details {
    min-width: 200px !important;
  }

  #product_id {
    padding: 0px 10px !important;
  }

  #_64_1_ROOT,
  #_64_1_LABS {
    width: calc(100% - 64px) !important;
    margin-bottom: 20px;
  }

  #_64_1176_Frame_201877627367 {
    height: auto !important;
  }
}

@media (max-width: 1280px) {
  #_64_681_Frame_1820554715 {
    display: none !important;
  }

  #_64_686_design {
    display: flex !important;
  }

  #_64_705_Button_default {
    display: none !important;
  }

  #hamburger {
    display: flex !important;
  }

  #_843_14301_Frame_2018776404 {
    margin: 0px -20px !important;
  }

  #_64_915_El {
    bottom: calc(100% - 65px) !important;
    top: auto !important;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
    /* Start just outside the right edge */
  }

  100% {
    transform: translateX(-50%);
    /* End just outside the left edge */
  }
}

@media (max-width: 500px) {
  #_1051_3144_Frame_2018776319 {
    height: 1000px !important;
  }
  #hero_video {
    padding-top: 120px;
  }
}

@media (max-width: 1363px) {
  /* #_64_1103_Button_default {
        width: 100% !important;
    } */
  #_64_1204_E,
  #_64_1114_Ellipse_15 {
    display: none !important;
  }

  #_64_916_Ellipse_15 {
    top: 251px !important;
  }
}

@media (max-width: 1475px) {
  #_64_1114_Ellipse_15 {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  @media screen and (max-width: 1000px) {
    #cart_container {
      width: 100% !important;
    }
  }

  #_64_839_Frame_1820554843 {
    padding: 10px 15px !important;
  }

  #_64_839_Frame_1820554843 span {
    font-size: 14px !important;
  }
}

@media (max-width: 430px) {
  #_1051_3144_Frame_2018776319 {
    height: 850px !important;
  }
}

@media (max-width: 390px) {
  #_1051_3144_Frame_2018776319 {
    height: 800px !important;
  }
}
